@use '../variables' as v;
@use '../boxes' as b;

/* --------------------------------------------------------------------------
 * pagination
 * ------------------------------------------------------------------------ */

.xps-pagination__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: v.$half;
}

.xps-pagination__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include b.pagination-link;
}

.xps-pagination__ellipsis {
  display: inline-flex;
  justify-content: center;
  min-width: 1.5rem;
}
