@use '../variables' as v;

/* --------------------------------------------------------------------------
 * resultStats
 * ------------------------------------------------------------------------ */

.xps-result-stats {
  display: flex;
  align-items: baseline;
  gap: v.$half;
}
